
data/cifar-100-python.tar.gz
data/cifar-100-python/test
*.meta
test1/cifar-10-batches-py/data_batch_1
test1/cifar-10-batches-py/data_batch_3
test1/cifar-10-batches-py/data_batch_4
test1/cifar-10-batches-py/data_batch_5
*.html
train1/cifar-10-batches-py/data_batch_2
train1/cifar-10-batches-py/data_batch_3
train1/cifar-10-batches-py/data_batch_1
test1/cifar-10-python.tar.gz
test1/cifar-10-batches-py/test_batch
data/cifar-100-python/train
train1/cifar-10-batches-py/data_batch_5
train1/cifar-10-batches-py/data_batch_4
train1/cifar-10-batches-py/test_batch
train1/cifar-10-python.tar.gz
transformer/
test1/cifar-10-batches-py/data_batch_2
